
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fraunces", "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  font-size: 1rem;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;
}

.image img {
    width: 100%;
    height: auto;
    min-width: 200px;
    display: block;
    border-radius: 10px 0 0 10px;
    z-index: -1;
}

.texts-on-the-right {
    background-color: white;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Ensure this also uses a grid for layout */
    gap: 10px; /* Add gap to see the separation clearly */
    border-radius: 0 10px 10px 0;
    order:
}

.perfume {
    grid-column: 1/ span 2;
    letter-spacing: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 10px;
    opacity: 50%;
    font-family: Montserrat;
}

.gabrielle {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 10px;
    grid-column: 1/ span 2;
}

.a-floral {

    opacity: 60%;
    font-family: Montserrat;
    padding-bottom: 10px;
    grid-column: 1/ span 2;
    line-height: 1.6;
}

.current-price {
    color: hsl(158, 36%, 37%);
    font-size: 2.5rem;
    font-weight: 600;
    grid-column: 1/2;
    align-content: center;
    padding-bottom: 10px;
    
}

.old-price {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    opacity: 60%;
    font-size: 1rem;
}


.add-to-cart {
    background-color: #3F816A;
    grid-column: 1 / span 2;
    width: 100%; /* Ensure button spans full width */
    height: 50px;
    display: flex; /* Added to center content */
    align-items: center; /* Added to center content vertically */
    justify-content: center; /* Added to center content horizontally */
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px; /* Add margin for spacing */
  }


.add-to-cart img {
    margin-right: 10px;
}


  /* MOBILE DEVICE */
@media screen and (max-width: 768px) and (orientation: portrait){
  .grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image img {
    border-radius: 10px 10px 0 0;
  }
  .image {
    order: -1; /* Move image to the top */
    z-index: 2; /* Ensure it appears on top */
  }

  .texts-on-the-right {
    order: 1;
    z-index: 1;
    border-radius: 0 0 10px 10px;
  }

  .add-to-cart {
    width: 100%;
  }
}